<div class="ui-card bg-card text-card border-card">
  <div class="ui-card__body">
    <h3 class="ui-card__title text-card"><%= @title %></h3>
    <p class="ui-card__summary text-card"><%= @summary %></p>
  </div>
  <div class="ui-card__cta">
    <%= link_to @cta, @link, class: "ui-card__link text-primary" %>
  </div>
</div>
